---
# Meta C++ style (based on Google) commonly used across Meta open-source projects.
BasedOnStyle: Google
Language: Cpp

IndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 100

DerivePointerAlignment: false
PointerAlignment: Left

BinPackArguments: false
BinPackParameters: false
BreakBeforeBinaryOperators: NonAssignment

AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignConsecutiveMacros: true
AlignOperands: true
AlignTrailingComments: true

ContinuationIndentWidth: 4
AccessModifierOffset: -2
ConstructorInitializerIndentWidth: 2
NamespaceIndentation: None

SortIncludes: true
IncludeBlocks: Regroup
SpaceAfterCStyleCast: true
